option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: vlogproject.wsgi:application
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: staticfiles

commands:
  01_collectstatic:
    command: "django-admin collectstatic --noinput"
    ignoreErrors: false
  02_debug_collectstatic:
    command: "django-admin collectstatic --noinput > /var/log/debug_collectstatic.log 2>&1"

