option_settings:
  aws:autoscaling:launchconfiguration:
    IamInstanceProfile: EC21
    DisableIMDSv1: true
    RootVolumeType: gp3
    # Add this line to explicitly use Launch Templates:
    InstanceType: t3.micro  # Or any other valid instance type
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: 'vlogproject.settings'
    PYTHONPATH: '/var/app/current'
    PORT: "8000"
    DISABLE_COLLECTSTATIC: "1"

